In [3]:
import pandas as pd
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [6]:
type(df.iloc[0])

pandas.core.series.Series

In [5]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [16]:
df.iloc[0,1]

2

In [9]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [10]:
type(df.iloc[[0]])

pandas.core.frame.DataFrame

In [11]:
df.iloc[[0,1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [12]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [13]:
df.iloc[[True,False,True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [14]:
df.iloc[0,1]

2

In [15]:
df.iloc[[0,2],[1,3]]

      b     d
0     2     4
2  2000  4000

In [17]:
df.iloc[1:3,0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

In [4]:
df.iloc[:,[True,False]]

IndexError: Boolean index has wrong length: 2 instead of 4